@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

header {
    z-index: 10001 !important;
}

.btn-primary {
    @apply px-7 py-2 bg-brandPrimary text-white rounded hover:bg-neutralDGray transition-all duration-300 hover:-translate-y-1;
}

.title-primary {
    @apply text-4xl text-neutralDGray font-semibold;
}

.bdr {
    @apply border border-red-400;
}
